
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>About Us</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Home/About">About Us</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start Align Area -->
<div class="whole-wrap pb-100">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">
                Action Over Words
            </h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Theme/img/elements/d.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <h1>
                        JORDAN BLACK COMMUNITY
                        COMMITMENT
                    </h1>
                    <p>
                        "We understand that one of the main ways we can change systemic
                        racism is at the polls. We know it will take time for us to create the
                        change we want to see, but we are working quickly to take action
                        for the Black Community’s voice to be heard."

                        - Michael Jordan

                    </p>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div class="section-top-border text-right" style="margin-bottom:30px;">
            <h3 class="mb-30"> ABOUT NIKE</h3>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">

                        Our mission is what drives us to do everything possible to expand human potential. We do that by creating groundbreaking sport innovations, by making our products more sustainably, by building a creative and diverse global team and by making a positive impact in communities where we live and work.

                        Based in Beaverton, Oregon, NIKE, Inc. includes the Nike, Converse, and Jordan brands.
                    </p>
                  
                </div>
                <div class="col-md-3">
                    <img src="~/Theme/img/elements/d2.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- End Align Area -->
