   <!-- footer -->
<div class="footer">
    <div class="footer_agile_inner_info_w3l">
        <div class="col-md-3 footer-left">
            <h2><a href="/Home/Index"><span>Luxury</span>Watches </a></h2>
            <p>Provide genuine products for the best price.</p>

            <h4 style="color: #fff; font-size: 0.9em; margin-top:20px; letter-spacing:2px;font-weight: 700;">CONNECT <span>WITH US</span> </h4>

            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="/Home/Construction" class="twitter">
                        <div class="front"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 footer-right">
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Our <span>Information</span> </h4>
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Product/Category?CategoryId=2">Men</a></li>
                        <li><a href="/Product/Category?CategoryId=3">Women</a></li>
                        <li><a href="/Product/Category?CategoryId=4">Baby-G</a></li>
                    </ul>
                </div>

                <div class="col-md-5 sign-gd-two">
                    <h4>Store <span>Information</span></h4>
                    <div class="w3-address">
                        <ul >
                            <li><a href="#">WHERE TO BUY</a></li>
                            <li><a href="#">AUTHORIZED DEALERS</a></li>
                            <li><a href="#">SUPPORT</a></li>
                            <li><a href="#">CONTACT US</a></li>
                        </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 sign-gd flickr-post">
                    <h4>Payment<span> Method</span></h4>
                    <ul>

                        <li><a href="https://www.paypal.com/us/home"><img src="~/Styles/images/paypal.png" alt=" " class="img-responsive" /></a></li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

        <p class="copy-right">&copy 2020 Luxury Watches. All rights reserved | Design by <a href="#">Luxury Watches</a></p>
    </div>
</div>
<!-- //footer -->
