
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Cart/Index">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <p style="color:red; font-size:16px;">
                    The product has out of stock

                </p>
                <div class="checkout_btn_inner d-flex align-items-center">
                    <a class="gray_btn" style="color: #fff; background-color: #007bff; border-color: #007bff;" href="/">Back to homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>

