@model WebApplication.Models.Customer

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<p>We have sent the OTP code to your phone number (@Html.DisplayFor(model => model.Customer_Phone)) of your account, please check it !</p>
@using (Html.BeginForm("VerifyOTP", "User", FormMethod.Post))
{

    <input type="number" name="otpcode" placeholder="Enter your username" required="" />
    <input type="submit" value="Verify" class="btn btn-default" />
}